@tailwind base;
@tailwind components;
@tailwind utilities;

.from {
  font-size: 16px;
  background: #ff0000;
  background: linear-gradient(to left, #ff0000 0%, #ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
